<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p>Welcome to the home page</p>
  <p>{{user}}</p>
  <a href="/logout" id='logout'>Logout</a>


  <script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="vendor/jquery/jquery.cookie.js"></script>
  <script type="text/javascript" src="js/utils.js"></script>
  <script type="text/javascript">
    $('#logout').click(function(){
      token($(this).attr('href'));
    });
  </script>
</body>
{{> footer}}
</html>
